*{
    margin: 0;
    padding: 0;
}
.main{
    
    padding-left: 5%;
}
.main-top{
    text-align: center;
    
}
.architect-top-par-sub{
    border-bottom: 1px solid;
}
.services-right-item-sub p{
    
    display: none;
}
.services-right-item-sub span{
    float: right;
}
.services-right-item-sub:hover p{
    display: block;
    color: red;
}
.project-thumb-top{
    flex-direction: row;
}
.project-thumb-item{
    flex-grow: 1;
    
    margin-top: 3%;
    cursor: pointer;
    
}
.project-thumb-item:hover .item-sub{
    opacity: 50%;
    z-index: 1;
    display: block;
}
.project-thumb-item .item-sub{
    z-index: -1;
    position: absolute;
    
}
.project-thumb-item img{
    max-width: 100%;
    max-height: 100%;
    border-radius: 5%;
    z-index: 1;
}
.project-bot{
    text-align: center;
}
.news-item img{
    border-radius: 5%;
    max-width: 100%;
    max-height: 100%;
}
.news-item {
    flex-grow: 1;
}
.news-tit a{
    
    text-decoration: none;
}
.main-top .video-btn button{
    outline: none;
  
  
  border: none;
}

.d-block{
    max-width: 100%;
}
.item-sub{
    background-image: url("img_8.jpg");
}
.footer a{
    text-decoration: none;
    color: coral;
    animation-tim
}